@using Proje_Opp.Entity
@model List<Product>

@{
    // Herhangi bir sunucu tarafı işlemi gerekirse buraya ekleyebilirsiniz
}

<!-- Basic Bootstrap Table -->
<div class="card">
    <!-- Yeni Makale Ekleme Butonu -->
    <a class="btn btn-success" sp-controller="Product" asp-action="Add">Yeni ürün Ekle <i class="bx bx-plus"></i></a>

    <div class="table-responsive text-nowrap m-5">

        <table class="table table-bordered" id="articlesTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ürün İsmi</th>
                    <th>Fiyat</th>
                    <th>Stok</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Stock</td>
                        <th>

                            <a class="btn btn-primary btn-sm" data-id="@product.Id" asp-controller="Product" asp-action="Update" asp-route-Id="@product.Id"><i class="bx bxs-edit"></i></a>
                            <a class="btn btn-danger btn-sm" data-id="@product.Id" asp-controller="Product" asp-action="Delete" asp-route-Id="@product.Id"><i class="bx bx-minus-circle"></i></a>


                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->
